/* Notification Panel */
.small-notification-panel {
  grid-area: 1 / 2 / 3 / 3;
  background: #d6d6d6;
  border-radius: 8px;
  padding: 10px;
  overflow: auto;

}

.small-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.small-panel-header h2 {
  margin: 0;
  font-size: 1.4rem;
  color:#333
}

.small-notification-table {
  width: 100%;
  border-collapse: collapse;
}

.small-notification-table th,
.small-notification-table td {
  padding: 10px;
  text-align: left;
}

.small-notification-table thead th {
  background-color: #c4c4c4;
  color: #333;
  font-weight: 600;
}

.small-notification-table tbody td {
  border-bottom: 1px solid #ccc;
  color: #333;
}

.small-no-notifications {
  text-align: center;
  font-style: italic;
  color: #666;
}

.small-notification-table tbody .tr-green {
  background-color: #78ff9f; /* light green */
  color: #1a4731;            /* dark green text */
}

.small-notification-table tbody .tr-red {
  background-color: rgb(255, 119, 119); /* light red */
  color: #8b0000;            /* dark red text */
}
