/* Control the left side */
.switch_div {
  grid-area: 2 / 1 / 3 / 2;
  background: #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  overflow: auto;
}

.container_flex {
  display: flex;
  flex-wrap: wrap;
}

.div_header {
  width: 100%;
  text-align: start;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 10px;
}

.div_header span {
  background:#e0e0e0;
  padding:0 10px;
  color: black;
}

