 /* Style the image inside the centered container, if needed */
 .switch-item img {
  width: 50px;
  height: 50px;
}

.switch-item {
  display: flex;         /* Set each item to be a flex container */
  flex-direction: column; /* Stack the image and text vertically */
  align-items: center;    /* Center them horizontally */

  width: 100px; /* Fixed size for each item */
  height: 100px; /* Optional: Fixed height for each item */
  margin: 5px; /* Optional: spacing between items */
  background-color: lightblue;
  text-align: center;
  line-height: 50px; /* Vertically center the text */
  border: 1px black solid;
}

.item-text {
  text-align: flex-end;  /* Center the text horizontally */

  flex-grow: 1;  /* Allow text to take remaining space */
  line-height: 30px;  /* Vertically center the text next to the image */
}


.reachable {
  background-color: rgb(0, 253, 34);

}

.unreachable {
  background-color: rgb(253, 8, 0);
}

.context-menu {
--contexify-zIndex: 666;
--contexify-menu-minWidth: 220px;
--contexify-menu-padding: 6px;
--contexify-menu-radius: 6px;
--contexify-menu-bgColor: #fff;
--contexify-menu-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1),
2px 4px 4px rgba(0, 0, 0, 0.1),
3px 6px 6px rgba(0, 0, 0, 0.1);
--contexify-menu-negatePadding: var(--contexify-menu-padding);

--contexify-separator-color: rgba(0, 0, 0, 0.2);
--contexify-separator-margin: 5px;
--contexify-itemContent-padding: 6px;
--contexify-activeItem-radius: 4px;
--contexify-item-color: #333;
--contexify-activeItem-color: #fff;
--contexify-activeItem-bgColor: #3498db;
--contexify-rightSlot-color: #6f6e77;
--contexify-activeRightSlot-color: #fff;
--contexify-arrow-color: #6f6e77;
--contexify-activeArrow-color: #fff;
}
